
doctype html
html(lang="en")
	head
		base(href="/")
		title #{title}

	
		link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/myStyle.css")

	
		script(src="lib/angular/angular.min.js")
		script(src="lib/angular-route/angular-route.min.js")

	
		
		script(src="js/controller/InventoryCtrl.js")
		script(src="js/controller/SearchCtrl.js")
		script(src="js/controller/WishlistCtrl.js")
		script(src="js/controller/LogoutCtrl.js")
		script(src="js/services/RestApi.js")
		script(src="js/appRoutes.js")
		script(src="js/app.js")

	body(ng-app="sampleApp")
		div.container
			nav.navbar.navbar-inverse
				div.navbar-header
					a.navbar-brand(href="/") Anon
				ul.nav.navbar-nav
					li
						a(href="/wishlist") Wishlist
					li
						a(href="/inventory") Inventory
					li
						a(href='/search') Search
					li
						a(href="/exit") Logout
			h3
				strong #{myuser.name}

			div(ng-view)

