doctype html
html(lang="en")
	head
		base(href="/")
		title #{title}
		link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/myStyle.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="js/controller/InventoryCtrl.js")
		script(src="js/controller/SearchCtrl.js")
		script(src="js/controller/WishlistCtrl.js")
		script(src="js/controller/LogoutCtrl.js")
		script(src="js/services/RestApi.js")
		script(src="js/appRoutes.js")
		script(src="js/app.js")

	body(ng-app="sampleApp")
		div.container
			nav.navbar.navbar-inverse(role="navigation")
				div.container-fluid
					div.navbar-header
						button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="/") Anon
					div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
						ul.nav.navbar-nav
							li
								a(href="/wishlist") Wishlist
							li
								a(href="/inventory") Inventory
							li
								a(href='/search') Search
							li
								a(href="/exit") Logout
			h3
				strong #{myuser.name}

			div(ng-view)
