doctype html

html(lang="en")
	head

		title #{title}

		link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.min.css")
    	link(rel="stylesheet", href="lib/font-awesome/css/font-awesome.min.css")
    	script(src="lib/angular/angular.min.js")
    	script(src="lib/angular-route/angular-route.min.js")
    	script(src="js/controller/InventoryCtrl.js")
    	script(src="js/services/RestApi.js")
    	script(src="js/appRoutes.js")
    	script(src="js/app.js")
    	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
   		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  		body(ng-app="sampleApp")
  		  .container
    		  nav.navbar.navbar-inverse(role="navigation")
    		    .container-fluid
        		  .navbar-header
            		button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            		  span.sr-only Toggle navigation
            		  span.icon-bar
            		  span.icon-bar
            		  span.icon-bar
            		a.navbar-brand(href="/") Anon
          		#bs-example-navbar-collapse-1.collapse.navbar-collapse
          		  ul.nav.navbar-nav
          		    li
          		      a(href="/wishlist") Wishlist
          		    li
          		      a(href="/inventory") Inventory
           			li
        		      a(href="/search") Search
              		li
              		  a(href="/logout") Logout
      		h3	
      		   strong #{myuser.name}
      		div(ng-view="")
