
extends index

div.jumbotron.text-center
	h1 Details page

		p
			strong id: #{myuser.id} 
			br
			strong token: #{myuser.token}
			br
			strong email: #{myuser.email}
			br
			strong name: #{myuser.name}

